test/config/resultWorkerSQLLite/config/validation/signalExchangeHub.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    elementFormDefault="qualified"
    targetNamespace="seh"
    xmlns:seh = "seh">
  <xs:element name="seh">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="seh:workers"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="workers" type="seh:workerValidation" />
  <xs:simpleType name="workerValidation">
      <xs:restriction base="xs:integer">
          <xs:minInclusive value="1" />
          <xs:maxInclusive value="50" />
      </xs:restriction>
  </xs:simpleType>
</xs:schema>